/********** BASE STYLES **********/
body {
  margin: 0;
  text-align: center;
}

h1 {
  color: #66BFBF;
  font-family: 'Pacifico', cursive;
  font-size: 90px;
  line-height: 2;
  margin: 30px auto 0 auto;
}

h2 {
  font-family: 'Comfortaa', cursive;
  font-weight: normal;

}

h3 {
  color: #11999E;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
}

h4 {
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
}

p {
  font-family: 'Comfortaa', cursive;
}

a {
  color: #11999E;
  margin-top: 50px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-top-color: #EAF6F6;
  border-width: 8px;
  width: 5%;
  margin: 50px auto 50px auto;
}

/********** HOME PAGE STYLES **********/

.top-container {
  background-color: #cde8f6;
  padding-top: 100px;
  position: relative;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

/********** MIDDLE CONTAINER **********/

.profile-img {
  width: 20%;
  margin-top: 50px;
}

.intro {
  width: 60%;
  line-height: 2;
  margin: auto;
}

.skill-row {
  line-height: 2;
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

.ai-ps-img {
  float: left;
  margin-right: 30px;
}

.drawing-img {
  float: right;
  margin-left: 30px;
}

.website-img {
  float: left;
  margin-right: 30px;
}

/********** BOTTOM CONTAINER *********/

.contact-description {
  margin-bottom: 50px;
}

.bottom-container ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 10px;
}

.bottom-container ul li {
  margin: 10px;
}

.bottom-container img {
  width: 50%;
  height: 50%;
}

.footer-link {
  display: inline-flex;
  justify-content: center;
  list-style: none;
}

/********** CONTACT ME BUTTON **********/

.btn-contanier {
  margin: 30px;
}

.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: 'Comfortaa', cursive;
  color: #ffffff;
  font-size: 20px;
  background: #11999E;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  border-width: thin;
  border-style: solid;
  font-family: Arial;
  color: #11999E;
  font-size: 20px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

/********** FOOTER **********/

.footer-styles {
  background-color: #cde8f6;
  height: 100px;
}

.footer-styles p{
  padding-top: 40px;
}
